.calendar-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 16px;
}

.calendar-wrapper div{
    padding: 10px;
    border-radius: 16px;
}

.calendar-wrapper div:hover{
    background-color: gray; 
    cursor: pointer;
}
.selected{
    background-color: #0d6efd;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.header i{
    padding: 10px;
}

.header i:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}