html, body, #root {
    height: 100%;
    margin: 0;
    background-color: black;
}
.w-max-con{
    width: max-content !important;
}
.txn-modal input, .date-picker-in-modal{
    width: calc(100% - 60px) !important;
}
.bg-field{
    background-color: field !important;
}
.cursor-pointer{
    cursor:  pointer !important;
}